*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lora', serif;
    text-decoration: none;
}

body{
    background-color: #0f1111;
}

.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connect{
    width: 20%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.connect a{
    transition: all 0.5s ease-in 0s;
}

.connect a:hover{
    transform: scale(1.15);
}

.logo{
    padding: 15px;
}

.hero-section{
    font-size: 5rem;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.playful{
    /* color: blanchedalmond; */
    animation: colorAnimate 1s ease-in 0s infinite normal;
}
.profession{
    animation: colorAnimate 1s ease-in 0s infinite normal;
}

.hero-designation{
    font-size: 1.5rem;
}

footer{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes colorAnimate {
    from{color: blanchedalmond;}
    50%{color: rgb(177, 141, 177);}
    to{color: burlywood;}
}

@media (max-width: 768px) {
    .hero-section{
        text-align: center;
        font-size: 4rem;
        flex-direction: column;
        justify-content: flex-start;
    }

    .connect{
        width: 60%;
    }

    .hero-image img{
        height: 250px;
    }
}

@media (max-width: 452px) {
    .hero-section{
        text-align: center;
        font-size: 3rem;
        height: 600px;
        flex-direction: column;
        justify-content: flex-start;
    }
}